:root {
    --main-color: #099EAD;
    --footer-color: #E6D844;
    --btn-color: #DFA0C4;
    --headline-color: #940755;
    --bg-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/************************HEADER**********************/
#forside header {
    background: url(assets/forside-splash.jpg);
    background-size: cover;
    height: 35vh;
    background-position: center;
}

#logo {
    /* width: 28vw;
    height: 15vw;*/
    width: 170px;
    height: 88.39px;
    margin: 1rem;

}

/***********************FOOTER****************************/
footer {
    background-color: var(--footer-color);
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/************************GRID**********************/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;


}

.grid-venstre {
    padding: 5rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;

}


.grid-hoejre {
    min-height: 45vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}


.box {
    background-size: cover;
}

.hele-listen {
    background-image: url(assets/rune1.jpg);
}

.subangi {
    background-image: url(assets/rune2.jpg);
}

.rachel {
    background-image: url(assets/rune3.jpg);
}

.rune {
    background-image: url(assets/rune4.jpg);
}

.textimg {

    padding-top: 10rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2vh;
    margin-bottom: 1rem;
    font-size: 1rem;


}

.box h1 {
    padding: 1rem;
    width: 100%;


}

.box img {
    width: 3vw;



}

.subangi h1,
.rune h1 {
    background-color: rgba(255, 255, 255, 0.62);
    color: black;
}

.hele-listen h1,
.rachel h1 {
    background-color: rgba(9, 158, 173, 0.81);
}

.footer {
    background-color: yellow;
}


@media screen and (min-width:680px) {




    .grid-hoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;


    }


    .content {
        background-color: blue;


    }


}

@media screen and (min-width:900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        grid-auto-rows: 1fr;

    }




    .grid-hoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }


    .content {
        background-color: blue;


    }

}
