:root {
    --main-color: #099EAD;
    --footer-color: #E6D844;
    --btn-color: #DFA0C4;
    --headline-color: #940755;
    --bg-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;


}

img {
    width: 100%;
}

/************************HEADER**********************/
header {
    background-image: url(assets/single_og_playlist_splash1.jpg);
    background-size: cover;
    width: 100vw;
    height: 30vw;
    background-position: 45% 40%;
}

#logo {
    object-fit: contain;
    float: left;
    width: 10%;
}

/************************GRID**********************/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;


}

.gridVenstre {
    padding: 5vh 5vw 5vw 5wh;
    text-align: center;
}


.gridHoejre {
    min-height: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    margin: 10px
}


.content {}

.hele-listen {
    background-image: url(assets/rune1.jpg);
    background-size: cover;

}

.subangi {
    background-image: url(assets/rune2.jpg);
    background-size: cover;



}

.rachel {
    background-image: url(assets/rune3.jpg);
    background-size: cover;


}

.rune {
    background-image: url(assets/rune4.jpg);
    background-size: cover;
}

.textimg {
    text-align: center;
    padding-top: 10rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2vh;
    margin: auto;
    font-size: 1rem
}

.footer {
    background-color: yellow;
}

@media screen and (min-width:680px) {


    .gridVenstre {}


    .gridHoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;


    }


    .content {
        background-color: blue;


    }


}

@media screen and (min-width:900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        grid-auto-rows: 1fr;

    }

    .gridVenstre {}


    .gridHoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }


    .content {
        background-color: blue;


    }

}
