/*********GENERELT OG VARIABLER************/
:root {
    /*Variabler, så det er nemt at skifte farve på elementer med den givne variabel.*/
    --main-color: #6ECBD2;
    --menu-bg-bold: #FFD744;
    --footer-color: #F9F4CA;
    --btn-color: #DFA0C4;
    --headline-color: #940755;
    --bg-color: #ffffff;
    --h1-h2-font: 'Poppins', sans-serif;
    --h3-p-font: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    margin: 2vw;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/*-----------------------------LOGO-------------------*/

#logo {
    width: 134.6px;
    height: 70px;
    margin-left: 2vw;
    margin-top: 0.5vw;
    padding-top: 0;
    z-index: 100;
    position: relative;
    pointer-events: cursor;
}

/*--------------------HEADER-------------------*/
header {
    height: 40%;
    width: 100%;
}

/*-----------------FOOTER-----------------*/

footer {
    background-color: var(--footer-color);
    height: 7vh;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************FORSIDE.HTML******************************/
/*-----------------HEADER-----------------*/
#forside header {
    background: url(assets/forside-splash.jpg);
    background-position: 65% 40%;
    background-size: cover;
}

/*-----------------BURGERMENU--------------------*/
.hide {
    transform: translateX(100%);
    /*Placerer element 100% til højre så det er "skjult"*/

}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    height: 100vh;

}

#menuknap {
    display: inline-block;
    color: black;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

header nav a {
    color: #000000;
    font-family: var(--h3-p-font);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 3rem;
}

header nav a:hover {
    color: var(--headline-color);
    font-family: var(--h3-p-font);
    text-decoration: none;
}

#dropdownbtn {
    display: none;
    /*Knappen er ikke vist i mobile*/
}

.dropdown-content {
    color: var(--headline-color);
    font-family: var(--h3-p-font);
    font-weight: 700;
    display: flex;
    flex-direction: column;
}


/*----------------------GRID-----------------------*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /*kolonnen fylder 1fr i mobile*/
    grid-gap: 10px;
    max-width: 1200px;
    /*containeren må ikke blive større end 1200px*/
    margin: 0 auto;

}

.grid-venstre {
    padding: 3rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
}


.grid-hoejre {
    min-height: 45vw 45vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}


.box {
    background-size: cover;
}

.hele-listen {
    background-image: url(assets/rune1.jpg);
    background-position: 60%;

}

.subangi {
    background-image: url(assets/rune3.jpg);
}

.rachel {
    background-image: url(assets/rune2.jpg);
    background-position: 60%;
}

.rune {
    background-image: url(assets/rune4.jpg);
}

.textimg {
    padding-top: 10rem;
    font-family: var(--h1-h2-font);
    color: white;
    margin-bottom: 1rem;
    font-size: 85%;
    width: 100%;
}


.box h1 {
    padding: 1rem;
    width: 100%;
}

.box img {
    width: 5%;
    margin-right: 1rem;

}

.colorbox {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.subangi .colorbox,
.rune .colorbox {
    background-color: rgba(255, 255, 255, 0.62);
    /*baggrundsfarve med alfa så opaciten bliver sat ned*/
}

.subangi h1,
.rune h1 {
    font-family: var(--h1-h2-font);
    font-size: 160%;
    color: black;
    text-align: left;
}

.hele-listen .colorbox,
.rachel .colorbox {
    background-color: rgba(9, 158, 173, 0.81);
}

.hele-listen h1,
.rachel h1 {
    font-family: var(--h1-h2-font);
    font-size: 160%;
    text-align: left;
}

.colorbox:hover {
    background-color: rgba(134, 134, 134, 0.37);
}

/***********************PLAYLIST.HTML*****************************/

/*-------------------TEKST----------------------*/
h1 {
    font-family: var(--h1-h2-font);
    color: white;
    font-size: 250%;
    padding: 5vw 0 1.5vw 0vw;
    margin: 0;
    text-align: center;
}

.brugerplaylist::first-letter {
    text-transform: uppercase;
    /*Første bogstav skal med stort, da teksten bliver hentet ned fra url og derfor er med småt*/

}

.filtretnavn {
    /*overskrift til genre*/
    font-family: var(--h1-h2-font);
    color: white;
    font-size: 2rem;
    margin-bottom: 4rem;
    padding: 1.5vw 0 1.5vw 0vw;
    text-align: center;
}


h2 {
    font-family: var(--h1-h2-font);
    color: var(--headline-color);
    font-size: 120%;
}

/*denne font er mellemrubik til kunstners og albums navne*/
h3 {
    font-family: var(--h3-p-font);
    font-weight: 400;
    font-size: 110%;
}

/*denne font er til sangs varihed*/
p {
    font-family: var(--h3-p-font);
    font-size: 95%;
}

.laesemere {
    font-weight: 700;
    font-size: 95%;
    color: var(--headline-color);
    padding: 2vw 0;
}

/*----------------------ELEMENTER-----------------*/
#playlist header {
    background-image: url(assets/single_og_playlist_splash1.jpg);
    background-size: cover;
    background-position: 65% 40%;
}


#listeindhold {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /*Hvert element skal være mindst 240px. Hver gang der er plads til et element ved siden af med 240px kommer det op*/
    margin: 0 6vw 6vw 6vw;

}

.indhold_boks {
    padding: 1rem 2rem 2vw;
    /* line-height: 3.5vw;*/
}

.playlist {
    background-color: #80C4CB;
    margin: 1vw;
    box-shadow: 0.5vw 1vw 2vw #A7A7A7;
    position: relative;
    cursor: pointer;
}

.playlist:hover {
    background-color: #07A0AF;
}


#playlist-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.valgt {
    background-color: var(--headline-color);
    font-family: var(--h3-p-font);
    color: white;
}

/*brug den samme styling til alle knapper*/
button,
input[type=submit] {
    background-color: var(--btn-color);
    border: none;
    height: 8vw;
    width: 25vw;
    border-radius: 3vw;
    font-family: var(--h3-p-font);
    font-size: 90%;
    font-weight: 700;
    color: var(--bg-color);
    margin: 1vw;
    cursor: pointer;
}

button:hover,
input[type=submit]:hover {
    background-color: var(--headline-color);

}

#spille-knap {
    width: 7%;
    height: 9.5%;
    bottom: 1%;
    right: 3%;
    position: absolute;
}

#filterknap {
    position: relative;
    left: 30vw;
}

#menu {
    background-color: transparent;
    position: relative;
}

.hidden {
    display: none;
}

/******************************SINGLE.HTML*******************************/
/*--------------------HEADER------------------*/

#single header {
    background: url(assets/single_og_playlist_splash1.jpg);
    background-size: cover;
    height: 40vh;
    position: relative;
    background-position: center;
}

#singlepage {
    max-width: 1200px;
    margin: 0 auto;
}

.back {
    width: 3vw;
    margin: 2vw;
    position: absolute;
    right: 33vw;
}

.back:hover {
    filter: opacity(50%);
    cursor: pointer;
    transform: scale(1.1);
}

.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

p {
    font-family: raleway, sans-serif;
}

.image {
    border-radius: 10%;
    max-width: 300px;
    width: 60vw;
    z-index: 1;

}

.single {
    background-color: var(--main-color);
    position: relative;
    width: 94vw;
    padding: 12rem 1rem 1rem;
    margin-top: -10rem;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;

}

.single h2 {
    color: var(--headline-color);
    font-family: poppins, sans-serif;
}

.single h3 {
    color: var(--headline-color);
    font-family: poppins, sans-serif;
    font-size: 1rem;

}

.single p {
    font-size: 90%;
    padding: 0.5rem;

}

pre {
    /*Formatterer teksten som den ser ud i Google Sheets*/
    font-family: raleway, sans-serif;
    text-align: center;
}

/**************************KONTAKT.HTML*****************************/

#kontakt header {
    background-image: url(assets/forside-splash.jpg);
    background-position: 10% 80%;
}

.flexcontainer {
    /*    margin-top: 50px;*/
    margin: 5vw 3vw 10vw 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--h3-p-font);
    margin: 0.5rem 0.5rem 1rem 1.6rem;

}

form {
    padding: 0 6vw 0 0;
}


label {
    font-family: var(--h3-p-font);
    font-weight: 700;
    font-size: 95%;
}

.kontkakttxt {
    flex-basis: 80vw;

    padding-bottom: 2rem
}

#popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    display: none;

}

#popup img {
    width: 20vw;
}

.tak {
    background-color: var(--bg-color);
    width: 70vw;
    min-height: 12vh;
    padding: 7vw;
    margin: 65vw auto;
    font-family: var(--h3-p-font);
    font-size: 120%;
    text-align: center;
}

.indhold {
    width: 70vw;
    min-height: 50vh;
    background: #fff;
    margin: 4rem auto;
    padding: 10px;
}

.luk {
    position: fixed;
    right: 7vw;
    top: 50vw;
    font-size: 1.5rem;
    width: 8vw;
    height: 5vh;
    z-index: 100;
}

/******************MEDIA ONLY SCREEN********************/
@media only screen and (min-width: 600px) {
    /*skærme over 600px*/

    /************FORSIDEN*********/
    .grid-venstre {
        padding: 3.5rem;
    }

    .grid-hoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding: 3rem;
    }

    /************SINGLE VIEW*********/
    .content {
        background-color: blue;
    }

    .single p {
        font-size: 1rem;
        padding: 0.5rem;

    }

    .titel {
        text-align: center;
        padding: 5vw 0 3vw 0vw;
        /*        padding: 0;*/
    }

    .back {
        width: 2.5vw;

    }
}

@media screen and (min-width:700px) {
    #spille-knap {
        width: 10%;
        height: 8%;
    }

    #playlist header,
    #forside header,
    #single header {
        background-position: 45% 80%;

    }

    nav {
        margin: 1vw;

    }

    #menuknap {
        display: none;
    }

    #burgermenu.hide {
        transform: translateX(0);
        opacity: 1;
        /*placer menuen normalt*/
    }

    #burgermenu li {
        display: inline-block;
        /*lad menuen være vandret*/

    }

    #burgermenu {
        justify-content: flex-end;
        background-color: rgba(255, 255, 255, 0.49);
        position: fixed;
        width: 100vw;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        height: 12vh;

    }

    header {
        z-index: 100;


    }


    header nav a {
        margin: 0 0.25rem;
        padding: 0 0.25rem;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    header nav {
        overflow: hidden;
    }


    #dropdownbtn {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        /*Knappen gøres synlig når det ikke er mobile*/
        width: 100%;
    }

    .dropdown #dropdownbtn {
        color: #000000;
        background-color: inherit;
        margin: 0;
        font-family: var(--h3-p-font);
        font-weight: 700;
    }

    /* det viser heller en kvadratisk end en pil
    .fa-sort-down:before {
        content: "\f0d7";
    }
*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.96);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.29);


    }

    .dropdown-content a {
        color: black;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
    }

    .dropdown-content a:hover {
        background-color: #f0f0f0;

    }

    .dropdown:hover .dropdown-content {
        display: block;
        /*vis indholdet af dropdown når der bliver hoveret*/
    }

    button,
    input[type=submit] {
        height: 2.8vw;
        width: 20vw;
        font-size: 100%;
        font-weight: 700;
        margin: 1vw;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 120%;
    }

    p {
        font-size: 100%;
    }

    .indhold_boks {
        padding: 0 1.3vw 2vw;
        /* line-height: 3.5vw;*/
    }

    #menu {
        display: list-item;
        list-style-type: none;
    }

    #filterknap {
        display: none;
    }

    .back {
        width: 2.5vw;
        display: none;
    }

    .tak {
        margin: 35vw auto;
    }

    .luk {
        top: 25vw;
    }

}

@media screen and (min-width:950px) {
    header {
        height: 45vh;
        background-position: 45% 70%;
    }


    .grid-container {
        display: grid;
        margin-top: 2vw;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        grid-auto-rows: 1fr;
    }

    .grid-venstre {
        padding: 2rem 2rem 0 3rem;
    }

    .grid-hoejre {
        display: grid;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5vw;
    }

    .indhold_boks {
        padding: 1rem 1.3vw 0.5rem;
        line-height: 1.5rem;
    }

    .tilbage img {
        width: 10%;
    }

    .tak {
        margin: 20vw auto;
    }

    .luk {
        top: 15vw;
        right: 10vw;
        width: 5vw;
    }


    .filtretnavn {
        margin-top: -2rem;
    }
}



@media screen and (min-width:1200px) {
    #listeindhold {
        margin: 0;
    }

}
