/*********GENERELT OG VARIABLER************/
:root {
    --main-color: #6ECBD2;
    --menu-bg-bold: #FFD744;
    --footer-color: #F9F4CA;
    --btn-color: #DFA0C4;
    --headline-color: #940755;
    --bg-color: #ffffff;
    --h1-h2-font: 'Poppins', sans-serif;
    --h3-p-font: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/************************HEADER**********************/
#forside header {
    background: url(assets/forside-splash.jpg);
    background-position: 45% 30%;
    background-size: cover;
    /*    max-height: 45vh;*/
}

#logo {
    /* width: 28vw;
    height: 15vw;*/
    width: 170px;
    height: 88.39px;
    margin-left: 2vw;
    pointer-events: auto;

}

/*-----------------BURGERMENU--------------------*/
.hide {
    /*     display: none;
        transform: scale(0);*/
    transform: translateX(100%);

}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    /*   background-color: #1B2326;*/
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    height: 100vh;

}

#menuknap {
    display: inline-block;
    color: black;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}



header nav a {
    color: #000000;
    font-family: var(--h3-p-font);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 3rem;
}

header nav a:hover {
    color: var(--headline-color);
    font-family: var(--h3-p-font);
    text-decoration: none;
}

#dropdownbtn {
    font-family: var(--h3-p-font);
    font-weight: bolder;
    display: none;
}

.dropdown-content {
    color: var(--headline-color);
    font-family: var(--h3-p-font);
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

/***********************FOOTER****************************/


footer {
    background-color: var(--footer-color);
    height: 7vh;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /*
    display: flex;
    justify-content: center;
    align-items: center;
*/
}


/************************GRID**********************/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;

}

.grid-venstre {
    padding: 3rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
}


.grid-hoejre {
    min-height: 45vw 45vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}


.box {
    background-size: cover;
}

.hele-listen {
    background-image: url(assets/rune1.jpg);
    background-position: 60%;

}

.subangi {
    background-image: url(assets/rune3.jpg);
}

.rachel {
    background-image: url(assets/rune2.jpg);
    background-position: 60%;
}

.rune {
    background-image: url(assets/rune4.jpg);
}

.textimg {
    padding-top: 10rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-size: 85%;
    width: 100%;
}

/*.subangi .textimg {
    font-size: 0.9rem;
}*/


.box h1 {
    padding: 1rem;
    width: 100%;
}

.box img {
    width: 5%;
    margin-right: 1rem;

}

.colorbox {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.subangi .colorbox,
.rune .colorbox {
    background-color: rgba(255, 255, 255, 0.62);
}

.subangi h1,
.rune h1 {
    font-family: var(--h1-h2-font);
    font-size: 160%;
    color: black;
    text-align: left;
}

.hele-listen .colorbox,
.rachel .colorbox {
    background-color: rgba(9, 158, 173, 0.81);
}

.hele-listen h1,
.rachel h1 {
    font-family: var(--h1-h2-font);
    font-size: 160%;
    text-align: left;
}

.colorbox:hover {
    background-color: rgba(134, 134, 134, 0.37);
}

/********************PLAYLIST.HTML*****************************/

h1 {
    font-family: var(--h1-h2-font);
    color: white;
    font-size: 250%;
    padding: 5vw 0 1.5vw 0vw;
    text-align: center;
}

.filtretnavn {
    font-family: var(--h1-h2-font);
    color: white;
    font-size: 200%;
    margin: 0;
    padding: 1.5vw 0 1.5vw 0vw;
    text-align: center;
}


h2 {
    font-family: var(--h1-h2-font);
    color: var(--headline-color);
    font-size: 120%;
}

/*denne font er mellemrubik til kunstners og albums navne*/
h3 {
    font-family: var(--h3-p-font);
    font-weight: 400;
    font-size: 110%;
}

/*denne font er til sangs varihed*/
p {
    font-family: var(--h3-p-font);
    font-size: 95%;
}

.laesemere {
    font-weight: 700;
    font-size: 95%;
    color: var(--headline-color);
    padding: 2vw 0;
}

/*-----BODYS ELEMENTER-----*/
html,
body {
    margin: 0 auto;
    height: 100%;
}

nav {
    text-align: center;
    margin: 2vw;
}

header {
    background-image: url(assets/single_og_playlist_splash1.jpg);
    background-size: cover;
    width: 100%;
    height: 60vw;
    background-position: 45% 40%;
}

#logo {
    width: 30%;
    margin: 3vw 1vw 0 3vw;
}

#listeindhold {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 0 6vw 6vw 6vw;

}

.indhold_boks {
    padding: 1rem 2rem 2vw;
    /* line-height: 3.5vw;*/
}

.playlist {
    background-color: #80C4CB;
    margin: 1vw;
    box-shadow: 0.5vw 1vw 2vw #A7A7A7;
    position: relative;
    cursor: pointer;
}

.playlist:hover {
    background-color: #07A0AF;

}

/*

.tilbage {
    background-color: transparent;
    width: 10%;
    margin: 0;
}

.tilbage img {
    width: 45%;
}
*/

#playlist-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.valgt {
    background-color: var(--headline-color);
    font-family: var(--h3-p-font);
    color: white;
}

button,
input[type=submit] {
    background-color: var(--btn-color);
    border: none;
    height: 8vw;
    width: 25vw;
    border-radius: 3vw;
    font-family: var(--h3-p-font);
    font-size: 90%;
    font-weight: 700;
    color: var(--bg-color);
    margin: 1vw;
    cursor: pointer;
}

button:hover,
input[type=submit]:hover {
    background-color: var(--headline-color);

}

/*#spille-knap {

    position: relative;
    top: -2vw;
    left: 66vw;
}*/


#spille-knap {
    width: 7%;
    height: 9.5%;
    bottom: 1%;
    right: 3%;
    position: absolute;
}

#filterknap {
    position: relative;
    left: 30vw;
}

#menu {
    background-color: transparent;
    position: relative;
}

.hidden {
    display: none;
}



/*********************************SINGLE.HTML********************************
        /***********************HEADER***************/

#single header {
    background: url(assets/single_og_playlist_splash1.jpg);
    background-size: cover;
    height: 40vh;
    position: relative;
    background-position: center;
}

#logo {
    /* width: 28vw;
    height: 15vw;*/
    width: 170px;
    height: 88.39px;
    margin: 1vw;
}

#singlepage {
    max-width: 1200px;
    margin: 0 auto;
}

.back {
    width: 3vw;
    margin: 5vw;
    float: right;

}


.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

/* erstat med h1
.titel {
    color: var(--bg-color);
    font-size: 3rem;
    font-family: poppins, sans-serif;
    margin-left: 1rem;

}*/

p {
    font-family: raleway, sans-serif;
}

.image {
    border-radius: 10%;
    max-width: 300px;
    width: 60vw;
    z-index: 1;

}

.single {
    background-color: var(--main-color);
    position: relative;
    width: 94vw;
    padding: 12rem 1rem 1rem;
    margin-top: -10rem;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;

}

.single h2 {
    color: var(--headline-color);
    font-family: poppins, sans-serif;
}

.single h3 {
    color: var(--headline-color);
    font-family: poppins, sans-serif;
    font-size: 1rem;

}

.single p {
    font-size: 90%;
    padding: 0.5rem;

}

pre {
    font-family: raleway, sans-serif;
    text-align: center;
}

/**********MEDIA ONLY SCREEN*************/
@media only screen and (min-width: 600px) {

    /************FORSIDEN*********/
    .grid-venstre {
        padding: 3.5rem;
    }

    .grid-hoejre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding: 3rem;
    }

    /************SINGLE VIEW*********/
    .content {
        background-color: blue;
    }

    .single p {
        font-size: 1rem;
        padding: 0.5rem;

    }

    .titel {
        text-align: center;
        padding: 5vw 0 3vw 0vw;
        /*        padding: 0;*/
    }

    .back {
        width: 2.5vw;
        margin: 5vw;

    }
}

@media screen and (min-width:700px) {
    #spille-knap {
        width: 10%;
        height: 8%;
    }

    header,
    #forside header {
        height: 35vw;
        background-position: 45% 80%;
    }

    #logo {
        width: 20%;
        margin-left: 2vw;
    }

    nav {
        margin: 1vw;

    }

    #menuknap {
        display: none;
    }

    #burgermenu.hide {
        transform: translateX(0);
        opacity: 1;
    }

    #burgermenu li {
        display: inline-block;

    }

    #burgermenu {
        justify-content: flex-end;
        background-color: var(--menu-bg-bold);
        position: fixed;
        width: 100vw;
        z-index: 40;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        height: 6vh;
    }

    header {
        z-index: 100;
        margin-top: 6vh;
    }


    header nav a {
        margin: 0 0.25rem;
        padding: 0 0.25rem;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    header nav {
        overflow: hidden;
    }


    #dropdownbtn {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        width: 100%;
    }

    .dropdown #dropdownbtn {
        color: #000000;
        background-color: inherit;
        /*        font-family: inherit;*/
        margin: 0;
        font-family: var(--h3-p-font);
        font-weight: 700;
    }

    .fa-sort-down:before {
        content: "\f0d7";
        /*følg en W3 tutorial, som bruger content
        background-image: url(assets/sort-down-solid);
        height: 2vw;
        width: 2vw;
*/

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f980;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    }

    .dropdown-content a {
        color: black;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    button,
    input[type=submit] {
        height: 2.8vw;
        width: 20vw;
        font-size: 100%;
        font-weight: 700;
        margin: 1vw;
    }

    h1 {
        font-size: 300%;
        /*        padding: 5vw 0 3vw 10vw;*/
    }

    h2 {
        font-size: 120%;
    }

    p {
        font-size: 100%;
    }

    .indhold_boks {
        padding: 0 1.3vw 2vw;
        /* line-height: 3.5vw;*/
    }

    #menu {
        display: list-item;
        list-style-type: none;
    }

    #filterknap {
        display: none;
    }

    .back {
        width: 2.5vw;
        margin: 5vw;

    }

}

@media screen and (min-width:950px) {
    header {
        height: 45vh;
        background-position: 45% 70%;
    }

    /*   #logo {
        width: 20%;
        height: 30%;
    }*/

    .grid-container {
        display: grid;
        margin-top: 2vw;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        grid-auto-rows: 1fr;
    }

    .grid-venstre {
        padding: 2rem 2rem 0 3rem;
    }

    .grid-hoejre {
        display: grid;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5vw;
    }

    .indhold_boks {
        padding: 1rem 1.3vw 0.5rem;
        line-height: 1.5rem;
    }

    .tilbage img {
        width: 10%;
    }

    .back {
        width: 1.5vw;
        margin: 2vw;

    }
}



@media screen and (min-width:1200px) {
    #listeindhold {

        margin: 0;
    }
}

/**********KONTAKT.HTML*********/

.flexcontainer {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: var(--h3-p-font);
    /* Jeg kunne ikke får varibalen til at virker derfor har jeg sat den ind sådan ----> Fikset*/

}

/* bliv lagt sammen med button tag*/
/*input[type=submit] {
    background-color: var(--headline-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
*/
label {
    font-family: var(--h3-p-font);
    font-weight: 700;
    font-size: 95%;
}

.kontkakttxt {
    flex-basis: 500px;
    padding-right: 3rem;
    padding-bottom: 2rem
}
